extends layout

block content

  h1 #{title}

  div(style='margin-left:20px;margin-top:20px')

    if cart_content.length
        each topping in cart_content 
            li.cart_item
                img.topping_img(src="/public/images/"+(topping.topping_ref.topping_name.toLowerCase().split(" ").join(""))+".jpg" alt="Individual Image" height="60px")
                a(href=`/catalog/topping/${topping.topping_ref._id}`) #[strong #{topping.topping_ref.topping_name}]
                    span &nbsp; #{topping.topping_amount}
        form(method='POST' action='')
            input#checkout_input(type='text', placeholder='The secret code' name='checkout_input' required='true')
            button.btn.btn-primary(type='submit') Checkout
    else 
        p Oh no! Your cart is empty.
        a(href="/catalog/toppings") 
            span #[strong Shop for stuff!]

    if errors.length
        ul
        for error in errors
            li!= error.msg