extends layout

block content
  h1 #{topping.topping_name}

  p #[strong Category:] #{topping.topping_category[0].category_name}
  p #[strong Description:] #{topping.topping_description}
  
  div(style='margin-left:20px;margin-top:20px')
    if topping.topping_stock > 0
      h2 Stock: #{topping.topping_stock}
      
      a(href=topping.cart_url+"/add")
        p.addToCart Add to cart 
    else 
      p Sorry, we're currently out of this item!